.base-layout__container {
    padding: 12;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}
.card__container {
    display: grid;
    justify-content: center;
    background-color: white;
    min-width: 50vw;
    height: fit-content;
    min-height: 60vh;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}