$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;


.mt-xxs { margin-top: $spacing-xxs; }
.mr-xxs { margin-right: $spacing-xxs; }
.mb-xxs { margin-bottom: $spacing-xxs; }
.ml-xxs { margin-left: $spacing-xxs; }
.mx-xxs { margin-left: $spacing-xxs; margin-right: $spacing-xxs; }
.my-xxs { margin-top: $spacing-xxs; margin-bottom: $spacing-xxs; }

.mt-xs { margin-top: $spacing-xs; }
.mr-xs { margin-right: $spacing-xs; }
.mb-xs { margin-bottom: $spacing-xs; }
.ml-xs { margin-left: $spacing-xs; }
.mx-xs { margin-left: $spacing-xs; margin-right: $spacing-xs; }
.my-xs { margin-top: $spacing-xs; margin-bottom: $spacing-xs; }

.mt-sm { margin-top: $spacing-sm; }
.mr-sm { margin-right: $spacing-sm; }
.mb-sm { margin-bottom: $spacing-sm; }
.ml-sm { margin-left: $spacing-sm; }
.mx-sm { margin-left: $spacing-sm; margin-right: $spacing-sm; }
.my-sm { margin-top: $spacing-sm; margin-bottom: $spacing-sm; }

.mt-md { margin-top: $spacing-md; }
.mr-md { margin-right: $spacing-md; }
.mb-md { margin-bottom: $spacing-md; }
.ml-md { margin-left: $spacing-md; }
.mx-md { margin-left: $spacing-md; margin-right: $spacing-md; }
.my-md { margin-top: $spacing-md; margin-bottom: $spacing-md; }

.mt-lg { margin-top: $spacing-lg; }
.mr-lg { margin-right: $spacing-lg; }
.mb-lg { margin-bottom: $spacing-lg; }
.ml-lg { margin-left: $spacing-lg; }
.mx-lg { margin-left: $spacing-lg; margin-right: $spacing-lg; }
.my-lg { margin-top: $spacing-lg; margin-bottom: $spacing-lg; }

.mt-xl { margin-top: $spacing-xl; }
.mr-xl { margin-right: $spacing-xl; }
.mb-xl { margin-bottom: $spacing-xl; }
.ml-xl { margin-left: $spacing-xl; }
.mx-xl { margin-left: $spacing-xl; margin-right: $spacing-xl; }
.my-xl { margin-top: $spacing-xl; margin-bottom: $spacing-xl; }

.mt-xxl { margin-top: $spacing-xxl; }
.mr-xxl { margin-right: $spacing-xxl; }
.mb-xxl { margin-bottom: $spacing-xxl; }
.ml-xxl { margin-left: $spacing-xxl; }
.mx-xxl { margin-left: $spacing-xxl; margin-right: $spacing-xxl; }
.my-xxl { margin-top: $spacing-xxl; margin-bottom: $spacing-xxl; }

.pt-xxs { padding-top: $spacing-xxs; }
.pr-xxs { padding-right: $spacing-xxs; }
.pb-xxs { padding-bottom: $spacing-xxs; }
.pl-xxs { padding-left: $spacing-xxs; }
.px-xxs { padding-left: $spacing-xxs; padding-right: $spacing-xxs; }
.pt-xs { padding-top: $spacing-xs; }
.pr-xs { padding-right: $spacing-xs; }
.pb-xs { padding-bottom: $spacing-xs; }
.pl-xs { padding-left: $spacing-xs; }
.px-xs { padding-left: $spacing-xs; padding-right: $spacing-xs; }
.py-xs { padding-top: $spacing-xs; padding-bottom: $spacing-xs; }

.pt-sm { padding-top: $spacing-sm; }
.pr-sm { padding-right: $spacing-sm; }
.pb-sm { padding-bottom: $spacing-sm; }
.pl-sm { padding-left: $spacing-sm; }
.px-sm { padding-left: $spacing-sm; padding-right: $spacing-sm; }
.py-sm { padding-top: $spacing-sm; padding-bottom: $spacing-sm; }

.pt-md { padding-top: $spacing-md; }
.pr-md { padding-right: $spacing-md; }
.pb-md { padding-bottom: $spacing-md; }
.pl-md { padding-left: $spacing-md; }
.px-md { padding-left: $spacing-md; padding-right: $spacing-md; }
.py-md { padding-top: $spacing-md; padding-bottom: $spacing-md; }

.pt-lg { padding-top: $spacing-lg; }
.pr-lg { padding-right: $spacing-lg; }
.pb-lg { padding-bottom: $spacing-lg; }
.pl-lg { padding-left: $spacing-lg; }
.px-lg { padding-left: $spacing-lg; padding-right: $spacing-lg; }
.py-lg { padding-top: $spacing-lg; padding-bottom: $spacing-lg; }

.pt-xl { padding-top: $spacing-xl; }
.pr-xl { padding-right: $spacing-xl; }
.pb-xl { padding-bottom: $spacing-xl; }
.pl-xl { padding-left: $spacing-xl; }
.px-xl { padding-left: $spacing-xl; padding-right: $spacing-xl; }
.py-xl { padding-top: $spacing-xl; padding-bottom: $spacing-xl; }

.pt-xxl { padding-top: $spacing-xxl; }
.pr-xxl { padding-right: $spacing-xxl; }
.pb-xxl { padding-bottom: $spacing-xxl; }
.pl-xxl { padding-left: $spacing-xxl; }
.px-xxl { padding-left: $spacing-xxl; padding-right: $spacing-xxl; }
.py-xxl { padding-top: $spacing-xxl; padding-bottom: $spacing-xxl; }